.dropdown {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 31px;
    background: #F6F6F6;
}

.dropdownButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 18px;
    background: none;
    border: none;
    cursor: pointer;
    background-color: #FF6060;
    border-radius: 5px;
}

.title {
    font-weight: 500;
    color: white;
}

.chevron {
    width: 24px;
}

.dropdownList {
    padding: 30px 20px;
    color: #FF6060;
    font-weight: 400;
}

@media screen and (max-width: 768px) {

    .dropdownList {
        padding: 17px 11px;
    }
}