.slideshow {
    position: relative;
    text-align: center;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.prev {
    left: 23px;
}

.next {
    right: 23px;
}

.prev img,
.next img {
    width: 47px;
    height: 79px;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
    max-width: 1240px;
    border-radius: 25px;
    mix-blend-mode: normal;
    height: 415px;
    object-fit: cover;
    background-position: center;
    align-self: center;
}

.slideNumber {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 24px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

@media screen and (max-width: 768px) {

    .prev img,
    .next img {
        width: 12px;
        height: 20px;
    }

    .slide img {
        height: 255px;
    }

    .slideNumber {
        display: none;
    }

    .prev {
        left: 6px;
    }

    .next {
        right: 6px;
    }
}