main {
    max-width: 1240px;
    width: 100%;
}

.dropdownContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1023px;
}

.title--small {
    font-size: 13px;
}

.list--small {
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 13px;
    }

    .dropdownList {
        font-size: 12px;
    }
}