.hostInfo {
  display: flex;
  align-items: center;
  align-self: start;
}

.name {
  font-weight: 500;
  font-size: 18px;
  color: #FF6060;
  text-align: right;
  width: 111px;
}

.picture {
  width: 64px;
  height: 64px;
  object-fit: cover;
  margin-left: auto;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .name {
    font-size: 12px;
    width: 135px;
  }

  .picture {
    width: 32px;
    height: 32px;
  }
}