.housingContainer {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    width: 100%;
}

.imgHousing {
    width: 100%;
    border-radius: 25px;
    height: 415px;
    object-fit: cover;
    background-position: center;
}

.infoContainer {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 50px 50px;
    grid-template-areas:
        "titleAndLocation hostInfo"
        "tags starRating";
    gap: 20px;
    align-items: center;
}

.titleAndLocation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: titleAndLocation;
}

.title {
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
}

.location {
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
}

.hostInfo {
    grid-area: hostInfo;
}

.tags {
    grid-area: tags;
}

.starRating {
    grid-area: starRating;
}

.dropdownContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    gap: 76px;
}