.stars {
  display: flex;
  gap: 15px;
}

.star {
  width: 25px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .stars {
    gap: 6px;
  }

  .star {
    width: 18px;
    height: 18px;
  }
}