.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    width: 13.125rem;
    height: 4.25rem;
}

.links {
    display: flex;
    gap: 3.5rem;
}

.link, .activeLink {
    color: rgba(255, 96, 96, 1);
    font-family: Montserrat;
    font-size: 1.5rem;
    text-decoration: none;
}

.activeLink {
    text-decoration: underline;
}

.headerMarginSmall {
    margin-bottom: 20px;
}

.headerMarginMedium {
    margin-bottom: 44px;
}

.headerMarginLarge {
    margin-bottom: 63px;
}

@media screen and (max-width: 768px) {
    .headerContainer {
        margin-bottom: 16px;
    }


    .logo {
        width: 9.0625rem;
        height: 2.9375rem;
    }

    .link {
        font-size: 1rem;
    }

    .links {
        gap: 0.6rem;
    }

    .headerMarginSmall {
        margin-bottom: 27px;
    }
    
    .headerMarginMedium {
        margin-bottom: 17px;
    }
    
    .headerMarginLarge {
        margin-bottom: 16px;
    }
}